<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="EnrgDocDB" />
        <meta name="keywords" content="ENRG, DocDB, Database" />
        {{ bootstrap.load_css() }} {{ bootstrap.load_js() }}
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
                {% block nav %}
                    <a class="navbar-brand" href="{{ url_for("index.index") }}">EnrgDocDB</a>
                {% endblock nav %}
            </div>
        </div>
        <div class="container mt-2">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
