{% from 'bootstrap5/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="EnrgDocDB" />
        <meta name="keywords" content="ENRG, DocDB, Database" />
        {{ bootstrap.load_css() }} {{ bootstrap.load_js() }}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
              integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="icon"
              href="{{ url_for('static', filename='images/favicon.jpg') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
        <script src="{{ url_for('static', filename='js/date_handler.js') }}?v=4"></script>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block head %}
        {% endblock head %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
                {% block nav_brand %}
                    <a class="navbar-brand" href="{{ url_for("index.index") }}">ENRG DocDB</a>
                {% endblock nav_brand %}
                <button class="navbar-toggler"
                        type="button"
                        onclick="document.querySelector('.navbar-collapse').classList.toggle('collapse')">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarNav">
                    <ul class="navbar-nav d-flex w-100 align-items-center">
                        {% block nav %}
                            {% if current_user.is_authenticated %}{{ render_nav_item('security.logout', _fsdomain('Sign out') ) }}{% endif %}
                        {% endblock nav %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container mt-2 mb-2">
            {% include "messages.html" %}
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="bg-light text-center text-lg-start mt-auto">
            <div class="text-center p-3 bg-dark text-white">2024 - ENRG DocDB</div>
        </footer>
    </body>
    <style>
        tr.light > td{
            background-color: rgb(242, 242, 242)
        }
        td.light {
            background-color: rgb(242, 242, 242) !important;
        }
    </style>
</html>
