{%- with messages = get_flashed_messages(with_categories=true) -%}
    {% set alert_to_bootstrap = {"message": "primary", "error": "danger", "warning": "warning", "success": "success"} %}
    {% set alert_class = alert_to_bootstrap.get(category, "primary") %}
    {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
                <div class="alert alert-{{ alert_class }} alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{%- endwith %}
