{% extends "docdb/base.html" %}
{% from "bootstrap5/form.html" import render_form, render_field, render_form_row %}
{% block content %}
    <h2>Your Account</h2>
    <hr>
    <ul>
        <li>
            <i class="fas fa-user"></i>
            <a href="{{ url_for("user.view", user_id=current_user.id) }}">{{ _fsdomain("View Your Profile") }}</a>
        </li>
        {% if security.changeable %}
            <li>
                <a href="{{ url_for_security("change_password") }}">{{ _fsdomain("Change Password") }}</a>
            </li>
        {% endif %}
        {% if security.change_email %}
            <li>
                <a href="{{ url_for_security("change_email") }}">{{ _fsdomain("Change Registered Email") }}</a>
            </li>
        {% endif %}
        {% if security.two_factor %}
            <li>
                <a href="{{ url_for_security("two_factor_setup") }}">{{ _fsdomain("Two Factor Setup") }}</a>
            </li>
        {% endif %}
        {% if security.unified_signin %}
            <li>
                <a href="{{ url_for_security("us_setup") }}">{{ _fsdomain("Unified Signin Setup") }}</a>
            </li>
        {% endif %}
        {% if security.webauthn %}
            <li>
                <a href="{{ url_for_security("wan_register") }}">{{ _fsdomain("WebAuthn Setup") }}</a>
            </li>
        {% endif %}
    </ul>
    <h2>Your Information</h2>
    <hr>
    <form method="post">
        {{ form.csrf_token() }}
        {{ render_field(form.email, disabled=True) }}
        {% if not form.first_name.data or not form.last_name.data %}
            <div class="border border-dashed border-2 border-warning  p-2 mb-2">
                <div class="alert alert-warning" role="alert">
                    <i class="fas fa-exclamation-triangle"></i>
                    Fill your name in here.
                </div>
                {{ render_form_row([form.first_name, form.last_name]) }}
            </div>
        {% else %}
            {{ render_form_row([form.first_name, form.last_name]) }}
        {% endif %}
        {{ render_form_row([form.submit]) }}
    </form>
{% endblock content %}
