{% extends "docdb/base.html" %}
{% from "docdb/snippets/render_map.html" import get_readable_model_name %}s
{% from "docdb/snippets/document.html" import render_document_table %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <div>
            {% if current_user.first_name %}
                <h2 class="mb-0">Welcome, {{ current_user.name }}</h2>
            {% else %}
                <h2>Welcome, {{ current_user.email }}</h2>
                <h5 class="text-muted mb-0">
                    <i class="fas fa-info-circle"></i>
                    You can set your name using the <a href="{{ url_for("user.your_account") }}">Your Account</a> page.
                </h5>
            {% endif %}
        </div>
        <a class="btn btn-primary" href="{{ url_for("document.new") }}">
            <i class="fas fa-plus"></i>
            New Document
        </a>
    </div>
    <hr>
    <div>
        <strong>Documents modified in the last 7 days</strong>
        {{ render_document_table(documents_last_7_days.result, documents_last_7_days) }}
    </div>
    <hr>
    <div>
        See also:
        <ul>
            {% for model_name in view_all_allowed_models %}
                <li>
                    <a href="{{ url_for("view_all.view_all", model_name=model_name) }}">All {{ get_readable_model_name(model_name) }}s</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
