{% extends "docdb/base.html" %}
{% from "docdb/snippets/user_files.html" import initialize_user_files %}
{% from "bootstrap5/form.html" import render_form, render_field, render_form_row %}
{% block content %}
    <h2>New Document</h2>
    <hr>
    <form id="new-document-form" method="post">
        {{ form.csrf_token() }}
        {{ render_field(form.title) }}
        {{ render_field(form.abstract) }}
        {{ render_form_row([form.authors, form.topics, form.organization]) }}
        {{ render_form_row([form.document_type, form.files]) }}
        {{ render_field(form.submit) }}
    </form>
    {{ initialize_user_files(user_files) }}
{% endblock content %}
