{% extends "docdb/base.html" %}
{% from "docdb/snippets/mark.html" import mark %}
{% from "docdb/snippets/render_map.html" import render_paginated_result %}
{% block title %}
    Quick Search - ENRG DocDB
{% endblock title %}
{% block content %}
    {{ mark('td', query) }}
    <h2>Search Results</h2>
    <p class="text-muted">Found {{ search.result_count }} result(s) in {{ search.time_taken }} seconds.</p>
    <hr>
    {% if search.result_count == 0 %}
        <p>No results found.</p>
    {% else %}
        {% for result_type, result_list in search.result.items() %}
            {% if result_list.result | length %}
                <div class="d-flex align-items-end gap-2 mb-2">
                    <h3 class="m-0">{{ result_type | capitalize }}</h3>
                    <strong>({{ result_list.result | length }})</strong>
                </div>
                {{ render_paginated_result(result_list) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}
