{% from "docdb/snippets/author.html" import render_author %}
{% from "docdb/snippets/pagination.html" import render_pagination %}
{% macro render_document_table(documents, paginated_query) %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="min-width: 200px;">
                    <i class="fas fa-file"></i> Document
                </th>
                <th>
                    <i class="fas fa-user"></i> Author(s)
                </th>
                <th>
                    <i class="fas fa-tag"></i> Topic(s)
                </th>
                <th>
                    <i class="fas fa-calendar-alt"></i> Date Modified
                </th>
            </tr>
        </thead>
        <tbody>
            {% if not documents %}
                <tr>
                    <td colspan="4">
                        <i class="fas fa-info-circle"></i>
                        No documents found.
                    </td>
                </tr>
            {% endif %}
            {% for document in documents %}
                <tr>
                    <td>
                        <a href="{{ url_for("document.view", document_id=document.id) }}">{{ document.title }}</a>
                    </td>
                    <td>{{ render_document_authors(document.authors) }}</td>
                    <td>{{ render_document_topics(document.topics) }}</td>
                    <td>{{ document.modified_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
{% macro render_document_type_table(document_types) %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <tr>
                    <th style="min-width: 200px;">
                        <i class="fas fa-file"></i> Document Type
                    </th>
                    <th>
                        <i class="fas fa-calendar-alt"></i> Date Modified
                    </th>
                </tr>
            </tr>
        </thead>
        <tbody>
            {% for document_type in document_types %}
                <tr>
                    <td>{{ render_document_type(document_type) }}</td>
                    <td>{{ document_type.modified_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
{% macro render_document_authors(authors) %}
    {% for doc_author in authors %}
        {{ render_author(doc_author) }}
        {% if not loop.last %},{% endif %}
    {% endfor %}
{% endmacro %}
{% macro render_document_topics(topics) %}
    {% for doc_topic in topics %}
        <a href="{{ url_for('topic.view', topic_id=doc_topic.id) }}">{{ doc_topic.name }}</a>
        {% if not loop.last %},{% endif %}
    {% endfor %}
{% endmacro %}
{% macro render_document_type(document_type) %}
    <a href="{{ url_for('document.view_document_type', document_type_id=document_type.id) }}">{{ document_type.name }}</a>
{% endmacro %}
