{% from "docdb/snippets/pagination.html" import render_pagination %}
{% macro render_file(file) %}
    <div class="d-inline-flex align-items-center gap-1">
        <span class="badge bg-primary">
            {% if file.file_name.endswith(".pdf") %}
                <i class="fas fa-file-pdf"></i>
            {% elif file.file_name.endswith(".docx") %}
                <i class="fas fa-file-word"></i>
            {% elif file.file_name.endswith(".pptx") %}
                <i class="fas fa-file-powerpoint"></i>
            {% elif file.file_name.endswith(".xlsx") %}
                <i class="fas fa-file-excel"></i>
            {% elif file.file_name.endswith(".zip") %}
                <i class="fas fa-file-archive"></i>
            {% else %}
                <i class="fas fa-file"></i>
            {% endif %}
        </span>
        <a href="{{ url_for("document.download_file", file_id=file.id) }}"
           target="_blank">{{ file.file_name }}</a>
    </div>
{% endmacro %}
{% macro render_files(files) %}
    <div class="d-inline-flex align-items-center gap-2">
        {% for file in files %}{{ render_file(file) }}{% endfor %}
    </div>
{% endmacro %}
{% macro render_file_table(files, paginated_query) %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <i class="fas fa-file"></i> File
                </th>
                <th>
                    <i class="fas fa-file"></i> Document
                </th>
                <th>
                    <i class="fas fa-calendar-alt"></i> Date Uploaded
                </th>
            </tr>
        </thead>
        <tbody>
            {% if not files %}
                <tr>
                    <td colspan="3">
                        <i class="fas fa-info-circle"></i>
                        No files found.
                    </td>
                </tr>
            {% endif %}
            {% for file in files %}
                <tr>
                    <td>{{ render_file(file) }}</td>
                    <td>
                        <a href="{{ url_for('document.view', document_id=file.document_id) }}">{{ file.document.title }}</a>
                    </td>
                    <td>{{ file.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
