<form action="{{ url_for("search.index") }}" method="get">
    <div class="input-group w-100">
        <input type="text"
               class="form-control"
               placeholder="{{ _fsdomain("Search for Document, Author, Topic, File, or User") }}"
               name="query"
               value="{{ query }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>
