{% extends "docdb/errors/base.html" %}
{% block title %}
    500 - ENRG DocDB
{% endblock title %}
{% block error_title %}
    500 - Internal Server Error
{% endblock error_title %}
{% block error_content %}
    <p>An unexpected error occurred while processing your request.</p>
    <p class="fw-bolder mb-0">Please try again later, and contact the administrator if the problem persists.</p>
    <p><a href="{{ url_for('index.index') }}" class="btn btn-primary mt-2">Return to Home</a></p>
{% endblock error_content %}
